// navbar style sass
$body-bg: white;
$navbar-default-bg: white;
$navbar-default-link-color: #818386;
$navbar-height: 55px;
$navbar-default-link-hover-color: #3B9CE7;

// jumbotron style sass


@import "bootstrap-sprockets";
@import "bootstrap";

// CSS Styling below 
body {
    font-family: "Helvetica Neue",
    Helvetica,Arial, sans-serif;
    font-size: 15px;  
}

.nav > li {
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
  line-height: 40px; 
}
.navbar {
  margin-bottom:0;
  padding-bottom:7px;
}

#landing1{
  background-color: #2580c0;
  opacity: 0.9;
  height: 550px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
#landing2{
  background-color: white;
  text-align: center;

}

